body {
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.05);
  height: 100vh;
}

form{
	margin: auto;
}
img{
	margin-top: 5px;
	height: 150px;
}

header{
	height: 160px;
	background-color: #6d351a;
}
header div{
	margin-top: -100px;	
	margin-right: 20px;
}

header h3{
	margin-top: -100px;
	margin-left: 540px;
	color: white;
}


button{
	float:right;
	margin-top: -130px;
	margin-right: +15px;
	position: relative;
	 
}

table td:hover{
	bacgound-color: #EECC60;
}

body .container .banner-prod{
	margin-top: 5px;
	height: 160px;
	width: 180px;
}
figure {
  float: left;
  width: 15%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 9em;
  padding: 0.5em;
  position: relative;
}
header div a{
	font-size: 20px;
	color: #EECC60;
	font-style: bold;
	border: 2px solid #EECC60;
	padding: 5px;
}

header div a:hover{
	color: white;
	border: 2px solid #FFFFFF;
}

.cadastro{
	margin-left: 480px;
	margin-top: 50px;
}
.container img {
    width: 250px;
    height:300px;
    margin: 50px;
    
    
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 3px solid #6d351a;
  color: #6d351a;
  text-align: center;
  height: 50px;
}

#login .container #login-row #login-column #login-box {
  margin-top: 80px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
 
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}